

/*responive utk tablet max-width: 1000px; */
@media all and (max-width: 1000px) {
	.lesson {
		width: 50%;
		margin-bottom: 50px;
	}

	.top-wrapper h1 {
		font-size: 32px;
	}

	.heading h2 {
		font-size: 20px;
	}

	.video-wrapper {
		text-align: center;
	}


	.search-container input {
		padding: 7px;
		padding-right: 70px;
		font-size: 12px;
	}

	.search-container button {
		padding: 6px 10px;
		font-size: 13px;
	}


}



/* responsive utk smartphone 670px */
@media all and (max-width: 670px) {
	.lesson {
		width: 100%;

	}

	footer {
	text-align: center;
	}

	.btn {
		width: 100%;
	}

	.facebook {
		margin-bottom: 10px;
	}


	.top-wrapper h1 {
		font-size: 24px;
		line-height: 36px;
		text-align: center;
	}

	.top-wrapper p {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}

	.header-right a {
		padding: 0;
		margin-right: 15px;
	}


	.menu-icon {
		display: block;
	}

	.header-right a {
		display: none;
	}

	.video-wrapper {
		text-align: center;
	}
	
	footer p {
		font-size: 9px;
	}
	
	.videolainnya {
		width: 50%;
	}


}
